#ignore the public folder
public

#ignore firebase cache
.firebase
.firebase/**

*.cache
*.identifier
.firebase/hosting.cHVibGlj.cache
.firebase/hosting.cHVibGlj.cache
.firebase/hosting.cHVibGlj.cache

settings.json
