/* Default Light Mode */
:root {
    --bg-color: #ffffff;
    --text-color: #000000;
  }
  
  /* Dark Mode */
  [data-theme='dark'] {
    --bg-color: #121212;
    --text-color: #ffffff;
  }
  
  /* Apply Variables */
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
  }
  
  h1, h2, h3, p, ul, ol, code {
    color: var(--text-color);
  }
  
  button.dark-mode-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 15px;
    border: none;
    background-color: var(--text-color);
    color: var(--bg-color);
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
  }
  