{{- with .Site.Params }}
<div class="connect-cta">
    <div class="connect-cta-author">
        {{- with .profileMode.imageUrl }}
        <img src="{{ . | absURL }}" alt="{{ $.Site.Params.author }}" width="80" height="80">
        {{- end }}
        <div class="connect-cta-author-info">
            <h4>About {{ .author }}</h4>
            <p>{{ .description }}</p>
        </div>
    </div>
    <div class="connect-cta-social">
        <h5>Connect with me</h5>
        <ul>
            {{- range .socialIcons }}
            <li>
                <a href="{{ .url }}" target="_blank" rel="noopener noreferrer me">
                    {{ .name | humanize }}
                </a>
            </li>
            {{- end }}
        </ul>
    </div>
</div>
{{- end }}
