{{ if (eq $.Page.Params.math "katex") }}
  {{ partial "helpers/katex.html" . }}
{{ else if (eq $.Page.Params.math "mathjax") }}
  {{ partial "helpers/mathjax.html" . }}
{{ end }}

{{/* WebSite + SearchAction JSON-LD on home for sitelinks search box */}}
{{ if .IsHome }}
  {{ $search := dict
      "@type" "SearchAction"
      "target" (printf "%ssearch/?q={search_term_string}" (absURL "/"))
      "query-input" "required name=search_term_string" }}
  {{ $site := dict
      "@context" "https://schema.org"
      "@type" "WebSite"
      "url" (absURL "/")
      "name" site.Title
      "potentialAction" $search }}
  <script type="application/ld+json">{{ $site | jsonify | safeJS }}</script>
{{ end }}

{{/* Open Graph article extensions for posts */}}
{{ if and .IsPage (not .IsHome) }}
  <meta property="og:type" content="article">
  <meta property="article:published_time" content="{{ .Date | time.Format "2006-01-02T15:04:05Z07:00" }}">
  <meta property="article:modified_time" content="{{ .Lastmod | time.Format "2006-01-02T15:04:05Z07:00" }}">
  {{ with .Params.tags }}
    {{ range . }}<meta property="article:tag" content="{{ . }}">{{ end }}
  {{ end }}
{{ end }}

{{/* JSON-LD: Breadcrumbs for better navigation context */}}
{{ $isList := or .IsHome (or .IsSection (or (eq .Kind "taxonomy") (eq .Kind "term"))) }}
{{ if or .IsPage $isList }}
  {{ $crumbs := slice (dict "name" "Home" "item" (absURL "/")) }}
  {{ if .Section }}
    {{ $crumbs = $crumbs | append (dict "name" (.Section | humanize | title) "item" (absURL (printf "/%s/" .Section))) }}
  {{ end }}
  {{ $currentName := .Title }}
  {{ $currentURL := .Permalink }}
  {{ $crumbs = $crumbs | append (dict "name" $currentName "item" $currentURL) }}
  {{ $list := slice }}
  {{ range $i, $c := $crumbs }}
    {{ $list = $list | append (dict "@type" "ListItem" "position" (add $i 1) "name" ($c.name) "item" ($c.item)) }}
  {{ end }}
  {{ $bc := dict "@context" "https://schema.org" "@type" "BreadcrumbList" "itemListElement" $list }}
  <script type="application/ld+json">{{ $bc | jsonify | safeJS }}</script>
{{ end }}
{{/* JSON-LD: Article/BlogPosting schema for posts */}}
{{ if and .IsPage (not .IsHome) }}
  {{ $images := slice }}
  {{ with .Params.images }}
    {{ range . }}
      {{ if . }}
        {{ $images = $images | append (absURL .) }}
      {{ end }}
    {{ end }}
  {{ end }}
  {{ if and (eq (len $images) 0) .Params.cover.image }}
    {{ $img := .Params.cover.image }}
    {{ if .Params.cover.relative }}
      {{ $img = printf "%s%s" .Permalink (strings.TrimPrefix "/" $img) }}
    {{ else }}
      {{ $img = absURL $img }}
    {{ end }}
    {{ $images = (slice $img) }}
  {{ end }}
  {{ if and (eq (len $images) 0) (site.Params.opengraph.image) }}
    {{ $images = (slice (absURL site.Params.opengraph.image)) }}
  {{ end }}
  {{ $author := or .Params.author (or site.Params.author site.Author.name) }}
  {{ $logo := "/favicon-32x32.png" | absURL }}
  {{ with site.Params.label.icon }}{{ $logo = . | absURL }}{{ end }}
  {{ $desc := cond (ne .Description "") .Description (.Summary | plainify | truncate 200) }}
  {{ $ld := dict
      "@context" "https://schema.org"
      "@type" "BlogPosting"
      "headline" .Title
      "description" $desc
      "url" .Permalink
      "datePublished" (.Date | time.Format "2006-01-02T15:04:05Z07:00")
      "dateModified" (.Lastmod | time.Format "2006-01-02T15:04:05Z07:00")
      "author" (dict "@type" "Person" "name" $author)
      "publisher" (dict "@type" "Organization" "name" site.Title "logo" (dict "@type" "ImageObject" "url" $logo))
  }}
  {{ if gt (len $images) 0 }}
    {{ $ld = merge $ld (dict "image" $images) }}
  {{ end }}
  <script type="application/ld+json">{{ $ld | jsonify | safeJS }}</script>
{{ end }}
