<!-- Font preloading for Inter + Lora -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Lora:wght@500;600;700&display=swap" rel="stylesheet">

{{ if (eq $.Page.Params.math "katex") }}
  {{ partial "helpers/katex.html" . }}
{{ else if (eq $.Page.Params.math "mathjax") }}
  {{ partial "helpers/mathjax.html" . }}
{{ end }}

{{/* WebSite + SearchAction JSON-LD on home for sitelinks search box */}}
{{ if .IsHome }}
  {{ $search := dict
      "@type" "SearchAction"
      "target" (printf "%ssearch/?q={search_term_string}" (absURL "/"))
      "query-input" "required name=search_term_string" }}
  {{ $site := dict
      "@context" "https://schema.org"
      "@type" "WebSite"
      "url" (absURL "/")
      "name" site.Title
      "potentialAction" $search }}
  <script type="application/ld+json">{{ $site | jsonify | safeJS }}</script>
{{ end }}

{{/* BreadcrumbList + BlogPosting JSON-LD provided by PaperMod's schema_json.html */}}
