<div class="embed-responsive embed-responsive-16by9">
    <iframe src="https://www.youtube.com/embed/{{ .Get 0 }}{{ with .Get "id" }}{{ . }}{{ end }}?enablejsapi=1{{ with .Get "color" }}{{ if eq . "white" }}&color=white{{ end }}{{ end }}{{ with .Get "autoplay" }}{{ if eq . "true" }}&autoplay=1{{ end }}{{ end }}{{ with .Get "yt_start" }}&start={{ . }}{{ end }}{{ with .Get "yt_end" }}&end={{ . }}{{ end }}{{ with .Get "modestbranding" }}{{ if eq . "true" }}&modestbranding=1{{ end }}{{ end }}"{{ if .Get "class" }} class="{{ .Get "class" }}"{{ end }} allowfullscreen></iframe>
</div>
